body {
    background-image: url(img/morocco.png);
    font-family: Arial, Helvetica, sans-serif;

}


.container {
    background-color: rgb(173, 144, 173);
    width: 80%;
    margin: 30px auto;
    padding-top: 1px;
}


.heading h1 {
    text-align: center;
    padding: 5px;
    font-family:'Courier New', Courier, monospace;
}

.navigasi li {
    display: inline-block;
    padding: 20px;
}


.heading .navigasi {
    background-color: rgb(192, 160, 192);
    height: 80px;
    text-align: right;
    word-spacing: 10px;
}

.navigasi li a {
    text-decoration: none;
    color :rgb(204, 60, 44);
    font-weight: bold;
}

.navigasi li:hover {
    font-size: 15px;
    padding: 31px;
    background-color:rgb(143, 119, 143);
}


.thubnail {
    background-image: url(img/computer.png);
    height: 300px;
    background-position: 1150px -1200px;
    border: 5px solid goldenrod;
}

.publish .pub-p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: right;
    padding-right: 5px
}

.publish .pub-p1 a {
    text-decoration: underline;
    color: rgb(204, 60, 44);
    font-weight: bold;
}    

.content {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: justify;
}

.content h2 {
    text-align: center;
}

.content p {
    text-indent: 40px;
}

.content .end {
    text-indent: 0px;
    text-decoration: underline;
}

.footer {
    background-color: rgb(15, 14, 14);

}

.footer p {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 12px
}
